#About {
  color: black;
  border: 5px solid black;
  /* border-radius: 50px; */
  margin-bottom: var(--main-margin);
  padding: var(--main-padding);
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
#About .container {
  align-items: center;
}
.Heading {
  font-size: 4rem;
  font-weight: 800;
  border-bottom: 3px solid;
  color: black;
  text-align: center;
}
#About .Heading {
  width: auto;
}

/* #About .container {
    margin-top: 50px;
} */

#About .box {
  display: flex;
}
.stack {
  margin: 30px 15px 30px 0;
  font-size: 1.3rem;
}
#About i {
  margin: 1px 25px;
  font-size: 2.3rem;
}

i.fa-html5 {
  color: #f59714;;
}
i.fa-css3-alt {
  color: #74C0FC;;
}
i.fa-js {
  color: yellow;
  /* background-color: black; */
  /* padding: 0; */
  position: relative;
  /* border: 0; */
}

i.fa-js::after {
  content: "";
  background-color: black;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  bottom: 6%;
}
i.fa-react {
  color: #74C0FC;;
}

#About .my-photo {
  width: 20%;
  height: 70%;
  display: flex;
  /* flex-grow: 1; */
  border: solid 3px black;
}

#About .my-photo img {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0%;
}

#About .About-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 50px 5px;
  font-size: 1.3rem;
  /* letter-spacing: 2px; */
}
.About-me-content .section:first-child {
  width: 70%;
}



#About p {
  width: 100%;
  color: black;
  font-size: 1.2rem;
}
.boldy {
  font-weight: 800;
  display: block;
  font-size: 1.5rem;
  padding: 0 0 15px;
}

/* #About .section {
    width: 40%;
    background-color: #0d112b;
    padding: 20px;
    display: flex;
    margin: 10px;
} */

.cv-btn {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  #About {
    padding: 80px 15px;
  }

  .box .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #About .About-me-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .About-me-content .section:first-child {
    width: 70%;
  }
  #About .section {
    width: 100%;
  }
  #About p {
    width: 100%;
    color: black;
    font-size: 1.2rem;
    text-align: center;
  }
  .boldy {
    font-weight: 800;
    display: block;
    font-size: 1.5rem;
    padding: 0 0 15px;
  }

  .cv-btn {
    width: 25%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

@media screen and (max-width:425px){
  .stack {
    margin: 20px 10px 20px 0;
    font-size: 1.1rem;
  }
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
  }
  #About i {
    margin: 1px 15px;
    font-size: 2rem;
  }
  
} 