.footer {
  width: 100%;
  padding: 30px 10px;
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c6c5c2;
  font-size: 1rem;
  font-weight: 900;
}

.personal-data {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
  margin: 0 10px;
  margin-bottom: 25px;
  display: inline-block;
}

h4 {
  font-size: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: black;
  transition: all 0.1s linear;
}

.footer a:hover {
  color: #34495e;
  font-size: 1.02rem;
}

.phone {
  margin: 0 10px;
}
